<div class="row__footer">
  <div class="rows foot">
    <div class="footer footer__info">
      <h3 class="footer__h3">THÔNG TIN DOANH NGHIỆP</h3>
      24h là 1 thương hiệu thuộc sở hữu của công ty cổ phần Enlightening
      E-learning Education <br />
      <br />
      MST: 0109139088 do Sở kế hoạch và đầu tư Thành phố Hà Nội cấp lần đầu ngày
      23/03/2020 <br />
      <br />
      Địa chỉ Office:Tầng 2, Tòa A, Licogi 13, 164 Khuất Duy Tiến, Q. Thanh
      Xuân, Hà Nội <br />
      <br />
      Điện thoại: 084 969 969 969 <br />
      <br />
      Email: 24h.info@gmail.com
    </div>

    <div class="footer footer__intro">
      <h3 class="footer__h3">GIỚI THIỆU</h3>
      Về 24h <br />
      <br />
      Giảng viên <br />
      <br />
      Phương pháp kiểm tra <br />
      <br />
      Liên hệ
      <img src="./Image/image-6.png" width="70%" alt="" />
    </div>

    <div class="footer footer__policy">
      <h3 class="footer__h3">CHÍNH SÁCH</h3>
      Chính sách chung <br />
      <br />
      ​ Chính sách bảo mật thông tin <br />
      <br />
      ​ Thông tin <br />
      <br />
      ​ Chính sách hoàn trả học phí​

      <h3 class="footer__h3">THEO DÕI TEST24H</h3>
      <div class="icon">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>
</div>
