<!-- ================================== BANNER ================================== -->
<div class="row__banner">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="1"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="2"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="./Image/1.jpg"
          alt="Chinh phục Python"
          class="d-block"
          style="width: 100%; height: 750px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./Image/2.jpg"
          alt="Khoá học lập trình .NET "
          class="d-block"
          style="width: 100%; height: 750px"
        />
      </div>
      <div class="carousel-item">
        <img
          src="./Image/3.jpg"
          alt="Khoá học lập trình web PHP"
          class="d-block"
          style="width: 100%; height: 750px"
        />
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
<!-- ============================================================================ -->

<!-- ================================== WHY ===================================== -->
<!-- <div class="rows row__content" id="test">
  <div class="rows row__content__title">»»» Bài kiểm tra tại Test24h</div>

  <div class="rows row__content__part" ng-controller="testCtrl">
    <div class="part__category">
      <ul class="navbar-nav">
        <li class="nav-item" ng-repeat="subject in subjects" id="category__li">
          <a class="nav-link" ng-click="selectSubject(subject.Id)"
            >{{ subject.Name }}
          </a>
        </li>
      </ul>
    </div>

    <div class="part__test">
      <div ng-show="loading" class="pull-right label label-info">
        Loading...
      </div>
      <div ng-view></div>
    </div>
  </div>
</div> -->

<div class="row__why">
  <div class="rows row__why__do">
    <div class="row__why__left">
      Tại sao nên <br />
      làm bài kiểm <br />
      tra 24h?
    </div>
    <div class="row__why__right">
      <div class="row__general row__why__trusting">
        <i class="fas fa-shield-alt"></i>
        <div class="row__why__title">Đáng tin cậy</div>
        <b>Được tạo nên bởi những chuyên gia.</b>
        24h được phát triển hơn 5 năm qua với những nhà khoa học hàng đầu trong
        lĩnh vực ngôn ngữ lập trình.<a style="color: black" href=""
          >Tìm hiểu thêm.</a
        >
      </div>
      <div class="row__general row__why__easy__access">
        <i class="fas fa-mobile"></i>
        <div class="row__why__title">Dễ tiếp cận</div>
        <b>Kiểm tra trên mọi thiết bị.</b>
        24h có trên tất cả máy tính, tablet, điện thoại. Tất cả thứ bạn cần là
        đường truyền trực tuyến và chưa tới một giờ đồng hồ để làm bài kiểm tra.
      </div>
      <div class="row__general row__why__free">
        <i class="fas fa-gifts"></i>
        <div class="row__why__title">Miễn phí</div>
        <b>Tại sao phải trả tiền mới có được những kết quả chính xác?</b>
        24h tạo điều kiện để các bạn nhận được bảng điểm chính xác nhất - bước
        đi quan trọng nhất trong hành trình học ngoại ngữ.
      </div>
    </div>
  </div>
</div>
<!-- ============================================================================== -->

<!-- ================================== TEST NOW ================================== -->
<div class="row__test__now">
  <div class="rows test__now">
    <div class="test__now__title">Kiểm tra lập trình của bạn ngay</div>
    <div class="test__now__box">
      <div class="box__box box__90">
        <div class="box__top">
          <div class="box__top__left">90</div>
          <div class="box__top__right">
            <div class="minute">PHÚT</div>
            <div class="name">FULL CHECK</div>
          </div>
        </div>
        <div class="box__middle">
          <div class="box__middle__title">
            Nhận chứng chỉ 24h Certificate™ chỉ trong vòng 90 phút
          </div>
          <div class="box__middle__text">
            <ul>
              <li>
                Test 4 kỹ năng lập trình: Đọc - Viết - Debug - Tư duy thuật toán
              </li>
              <li>
                Kết quả hoàn toàn tương thích với các cấp độ kỹ năng lập trình
                quốc tế
              </li>
              <li>
                Nhận Chứng chỉ lập trình để thêm vào CV hoặc LinkedIn cá nhân
              </li>
              <li>Miễn phí</li>
            </ul>
          </div>
        </div>
        <div class="box__bottom">Bắt Đầu Kiểm Tra (90 - phút)</div>
      </div>

      <div class="box__box box__50">
        <div class="box__top">
          <div class="box__top__left">50</div>
          <div class="box__top__right">
            <div class="minute">PHÚT</div>
            <div class="name">MID CHECK</div>
          </div>
        </div>
        <div class="box__middle">
          <div class="box__middle__title">
            Nhận chứng chỉ 24h Certificate™ chỉ trong vòng 1 giờ
          </div>
          <div class="box__middle__text">
            <ul>
              <li>Test 4 kỹ năng lập trình: Đọc - Viết</li>
              <li>
                Kết quả hoàn toàn tương thích với các cấp độ kỹ năng lập trình
                quốc tế
              </li>
              <li>
                Nhận Chứng chỉ lập trình để thêm vào CV hoặc LinkedIn cá nhân
              </li>
              <li>Miễn phí</li>
            </ul>
          </div>
        </div>
        <div class="box__bottom">Bắt Đầu Kiểm Tra (50 - phút)</div>
      </div>

      <div class="box__box box__15">
        <div class="box__top">
          <div class="box__top__left">15</div>
          <div class="box__top__right">
            <div class="minute">PHÚT</div>
            <div class="name">QUICK CHECK</div>
          </div>
        </div>
        <div class="box__middle">
          <div class="box__middle__title">
            Nhận chứng chỉ 24h Certificate™ chỉ trong vòng 90 phút
          </div>
          <div class="box__middle__text">
            <ul>
              <li>
                Bắt đầu kiểm tra nhanh các kỹ năng lập trình của bạn Đánh giá
                trình độ lập trình của bạn trong vài phút: sơ cấp, trung cấp,
                hay cao cấp
              </li>
              <li>Chia sẻ kết quả trên các nền tảng mạng xã hội</li>
              <li>Miễn phí. Không cần đăng kí. Bắt đầu ngay.</li>
            </ul>
          </div>
        </div>
        <div class="box__bottom">Bắt Đầu Kiểm Tra (15 - phút)</div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================================== -->

<!-- ================================== SOLUTION ================================== -->
<div class="row__solution">
  <div class="rows row__solution__content">
    <div class="row__solution__left">
      <div class="row__solution__title">
        Giải pháp kiểm tra lập trình linh hoạt cho mọi tổ chức.
      </div>
      <div class="row__solution__text">
        Chúng tôi đã giúp hơn 3.000 trường học và tổ chức trên toàn cầu xác định
        các tiêu chuẩn trình độ ngôn ngữ thông qua bài kiểm tra trình độ lập
        trình 24h. Tất cả đều miễn phí.
      </div>
      <div class="row__solution__button">Giải pháp kiểm tra lập trình</div>
    </div>

    <div class="row__solution__right">
      <img src="./Image/s4-desktop-image-removebg-preview.png" alt="" />
    </div>
  </div>
</div>
<!-- ============================================================================== -->

<!-- ================================== CERTIFICATION ============================= -->
<div class="row__certification">
  <div class="rows row__certification__content">
    <div class="row__certification__left">
      <div class="row__certification__title">24h Certificate™</div>
      <div class="row__certification__text">
        Nhận chứng chỉ lập trình online miễn phí khi hoàn thành những bài test
        của chúng tôi. Bạn có thể dễ dàng thêm nó vào CV hoặc hồ sơ LinkedIn của
        mình.
      </div>
      <div class="row__certification__button">Nhập chứng chỉ</div>
    </div>
    <div class="row__certification__right">
      <img src="./Image/pink-paper-dove-origami-isolated-white.png" alt="" />
    </div>
  </div>
</div>
<!-- ============================================================================== -->

<!-- ================================== GO AHEAD ================================== -->
<div class="row__go__ahead">
  <div class="rows row__go__ahead__content">
    <div class="go__ahead__title">24h đi đầu trong sự đổi mới.</div>
    <div class="go__ahead__top">
      <div class="go__ahead go__ahead--1">
        <div class="go__ahead__text">
          Là tổ chức hàng đầu thế giới về giáo dục quốc tế, chúng tôi đang mở ra
          những con đường mới cho việc học tập – sử dụng công nghệ, giáo dục và
          thiết kế.
        </div>
        <div class="go__ahead__a">
          <a style="color: black" href=""
            >Tìm hiểu thêm về nghiên cứu của 24h</a
          >
        </div>
      </div>
      <div class="go__ahead go__ahead--2">
        <div class="go__ahead__number">5</div>
        <div class="go__ahead__name">
          năm kinh <br />
          nghiệm
        </div>
      </div>
    </div>

    <div class="go__ahead__bottom">
      <div class="go__ahead go__ahead--3">
        <div class="go__ahead__number">2500<span>+</span></div>
        <div class="go__ahead__name">Công ty được trợ giúp</div>
        <div class="go__ahead__link">
          <a style="color: #57DFAB" href="">Đánh giá công nhân viên của bạn</a>
        </div>
      </div>
      <div class="go__ahead go__ahead--4">
        <div class="go__ahead__number">700<span>+</span></div>
        <div class="go__ahead__name">Trường được trợ giúp</div>
        <div class="go__ahead__link">
          <a style="color: #57DFAB" href="">Đánh giá học sinh của bạn</a>
        </div>
      </div>
      <div class="go__ahead go__ahead--5">
        <div class="go__ahead__number">30M<span>+</span></div>
        <div class="go__ahead__name">
          Người đã tham gia bài kiểm tra 24h từ 2016
        </div>
        <div class="go__ahead__link">
          <a style="color: #57DFAB" href="">Làm bài kiểm tra miễn phí tại đây</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================================== -->

<!-- ================================== REGISTER ================================== -->
<!-- <div class="row__register">
  <div class="register">
    <div class="register__left">
      <form action="" class="form__register">
        <div class="form__register__input">
          <div class="form__register__title">»»» Đăng ký »»»</div>
          <div class="form__register__input__item">
            <input
              type="text"
              id="name"
              placeholder="Nhập họ và tên"
              required
            />
          </div>

          <div class="form__register__input__item">
            <input type="email" id="email" placeholder="Nhập email" required />
          </div>

          <div class="form__register__input__item">
            <input
              type="tel"
              id="phone"
              placeholder="Nhập số điện thoại"
              required
            />
          </div>

          <div class="form__register__input__item">
            <select id="user_type" required>
              <option value="" disabled selected>Chọn đối tượng của bạn</option>
              <option value="hoc_sinh">Học sinh</option>
              <option value="sinh_vien">Sinh viên</option>
              <option value="nguoi_di_lam">Người đi làm</option>
              <option value="khac">Khác</option>
            </select>
          </div>

          <div class="form__register__input__item">
            <select id="current_skill_level" required>
              <option value="" disabled selected>Chọn khả năng hiện tại</option>
              <option value="beginner">Mới bắt đầu</option>
              <option value="fresher">Fresher</option>
              <option value="Intern">Intern</option>
              <option value="junior">Junior</option>
              <option value="middle">Middle</option>
              <option value="senior">Senior</option>
              <option value="leader">Leader</option>
            </select>
          </div>

          <div class="form__register__input__item">
            <textarea
              id="test_goal"
              placeholder="Nhập mục tiêu khi làm bài kiểm tra"
              required
            ></textarea>
          </div>

          <div class="form__register__input__item">
            <button type="submit">Đăng ký làm kiểm tra</button>
          </div>
        </div>
      </form>
    </div>

    <div class="register__right">
      <img
        src="./Image/Rectangle-1-update.jpg"
        width="100%"
        height="100%"
        alt=""
      />
    </div>
  </div>
</div> -->
<!-- ============================================================================ -->
