<!-- ================================== CERTIFICATION ============================= -->
<div class="row__certification_24h">
  <div class="rows row__certification__24h__content">
    <h2 class="row__certification_24h__title">Chứng chỉ 24h</h2>
    <p class="row__certification_24h__text">
      Nhận chứng chỉ 24h trực tuyến miễn phí, dễ dàng <br />
      thêm vào CV hoặc hồ sơ LinkedIn cá nhân
    </p>
  </div>
</div>
<!-- ============================================================================== -->

<!-- ================================== TAKE CERTIFICATION ======================== -->
<div class="row__take__certification">
  <div class="rows row__take__certification__content">
    <div class="row__take__certification__title">
      Nhận chứng chỉ 24h được công nhận quốc tế
    </div>
    <div class="row__take__certification__text">
      <div class="take__certification__left">
        <img src="../../Image/3.png" width="100%" height="100%" alt="" />
      </div>
      <div class="take__certification__right">
        <div class="take__certification__check">
          <i class="fas fa-check"></i>
          Nhận URL giấy chứng nhận cá nhân của bạn (Xem mẫu)
        </div>
        <div class="take__certification__check">
          <i class="fas fa-check"></i>
          Có sẵn dưới dạng PDF (Xem mẫu)
        </div>
        <div class="take__certification__check">
          <i class="fas fa-check"></i>
          Dễ dàng đưa kết quả lên Linkedin
        </div>
        <div class="take__certification__check">
          <i class="fas fa-check"></i>
          Kết quả dựa trên khung tham chiếu CEFR quốc tế
        </div>
        <div class="take__certification__check">
          <i class="fas fa-check"></i>
          Miễn phí
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================================== -->

<!-- ================================== TEST WORK ======================== -->
<div class="row__test__work">
  <div class="rows row__test__work__content">
    <h2 class="row__test__work__title">Cách bài kiểm tra hoạt động</h2>
    <div class="test__work__choice">
      <div class="choice choice--1">
        <div class="choice__number">1</div>
        <div class="choice__title">Test 2 kỹ năng (50 phút)</div>
        <div class="choice__text">
          Kiểm tra 2 kỹ năng Đọc và Nghe trong 50 phút và nhận chứng chỉ 24h sau
          khi hoàn thành bài test.
        </div>
        <div class="choice__button">Làm bài kiểm tra</div>
      </div>
      <div class="choice choice--2">
        <div class="choice__number">2</div>
        <div class="choice__title">Test 4 kỹ năng (90 phút)</div>
        <div class="choice__text">
          Kiểm tra 4 kỹ năng Nghe - Nói - Đọc - Viết trong 90 phút và nhận chứng
          chỉ 24h sau khi hoàn thành bài test.
        </div>
        <div class="choice__button">Làm bài kiểm tra</div>
      </div>
      <div class="choice choice--3">
        <div class="choice__number">3</div>
        <div class="choice__title">Test nhanh (15 phút)</div>
        <div class="choice__text">
          Kiểm tra kỹ năng Đọc và VIết ngôn ngữ của bạn trong 15 phút, hoặc sử
          dụng bài kiểm tra này để luyện tập cho các bài 50 phút hoặc 90 phút.
        </div>
        <div class="choice__button">Làm bài kiểm tra</div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================================== -->
