<div class="rows row__forgotPassword" ng-controller="forgotPasswordCtrl">
  <form action="" class="form form__forgotPassword" ng-submit="forgot()">
    <div class="card">
      <a class="login">Forgot Password</a>
      <div class="inputBox email">
        <input
          type="text"
          ng-model="forgotPasswordData.email"
          required="required"
        />
        <span class="email">Email</span>
      </div>
      <button class="enter" type="submit">Enter</button>
    </div>
  </form>
  <div class="notification error" ng-if="errorMessage">{{ errorMessage }}</div>
  <div class="notification success" ng-if="successMessage">
    {{ successMessage }}
  </div>
  <div class="notification success__password" ng-if="password">
    <p>Mật khẩu của bạn là: {{ password }}</p>
  </div>
</div>
