<div class="introduce">
  <div class="introduce__container">
    <div class="introduce__title">Về Chúng Tôi</div>
    <div class="introduce__text">
      Chào mừng bạn đến với <strong>24h</strong> - nền tảng mang đến chứng chỉ
      trực tuyến nhanh chóng và miễn phí!
    </div>
    <div class="introduce__text">
      Sứ mệnh của chúng tôi là giúp bạn nâng cao kỹ năng và phát triển sự nghiệp
      thông qua các bài kiểm hạn được thiết kế tối ưu cho mọi người.
    </div>
    <div class="introduce__list">
      <div class="introduce__item">
        Hoàn thành khóa học chỉ trong vòng 24 giờ.
      </div>
      <div class="introduce__item">Nhận chứng chỉ nhanh chóng và dễ dàng.</div>
      <div class="introduce__item">
        Thêm chứng chỉ vào CV hoặc hồ sơ LinkedIn.
      </div>
    </div>
  </div>
</div>
